
nav{
  background-color: #1abc9c;
  color: #ecf0f1;
  padding: 10px;
  font-size: 25px;
}
#about, #contact{
  background-color: #bdc3c7;
}

#headshot{
  margin-top: 30px;
  margin-bottom: 30px;
}
#about-paragraph{
  margin-bottom:20px;

}
header{
  font-size: 20px;

}
